html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
  

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    background: #262626;
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;

}

li{
    float: left;
}
a{
    padding: 20px;
    width: 100px;
    display:block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

}

#section1{

    height: 700px;
    display: inline-block;
    width: 100%;

}

#section2{

    height: 700px;
    display: inline-block;
    width: 100%;

}


#section3{

    height: 700px;
    display: inline-block;
    width: 100%;

}

#section4{

    height: 700px;
    display: inline-block;
    width: 100%;

}
h1,p, img{

    margin: 100px;
    text-align: center;
    padding:0;
}

@media screen and (max-width: 680px)
{
    
        ul.topnav li:not(:nth-child(1)){
        display: none;
    }

    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    ul.topnav li.dropdownICon {
        position: absolute;
        top :0;
        right :0;

    }



    ul.topnav.responsive {
        position: relative;

    }

    ul.topnav.responsive li {
       display: inline;
       float: none;

    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
 
     }


     
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row  :after{
    display: table;
    clear: both;
    content: "";


}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  

.col-3 { width: 25%}
.col-6 { width: 50%}
.col-7 { width: 75%}